@use '../helpers' as *;

.about {
  padding-block: fluid(190, 60);
  color: var(--color-dark);

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(60);
    padding-bottom: fluid(190, 60);

    @include tablet {
      grid-template-columns: auto;
      row-gap: rem(40);
    }
  }

  &__col {

   &-item {
     &:not(:last-child) {
       margin-bottom: rem(60);
     }
   }

    &-value {
      font-size: rem(64);
      font-weight: 300;
    }

    &-description {
      color: var(--color-grey);
    }

    &-title {
      margin-bottom: rem(60);
    }
  }
}