@use '../helpers' as *;

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "content image";
  column-gap: rem(60);

  @include tablet {
    column-gap: rem(30);
  }

  @include mobile {
    grid-template-areas:
      "content"
      "image";
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: rem(30);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: rem(20);
    grid-area: content;
  }

  &__title {
    color: var(--color-grey);
  }

  &__description {
    color: var(--color-dark);
    margin-bottom: rem(40);
  }

  &__img {
    grid-area: image;

    @include mobile {
      width: 100%;
    }
  }

  &--reverse {
    grid-template-areas: "image content";

    @include mobile {
      grid-template-areas:
      "content"
      "image";
    }
  }
}