@use '../helpers' as *;

.video-player {
  position: relative;

  &__video {
    width: 100%;
    object-fit: cover;
  }

  &__panel {
    @include flex-center;

    position: absolute;
    inset: 0;
    transition-duration: var(--transition-duration);

    &:not(.is-active) {
      @include hide;
    }
  }

  &__play-button {
    --size: #{rem(100)};

    @include square(var(--size));

    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--color-light);



    @include hover {
      color: var(--color-grey);
    }

    svg path {
      fill: var(--color-dark);

      @include tablet {
        --size: #{rem(50)};
      }
    }
  }
}