@use 'helpers' as *;

:root {
  --color-light: #ffffff;
  --color-grey: #838383;
  --color-dark: #1d1d1f;
  --color-red: #ff5500;


  --font-family-base: 'Inter', sans-serif;

  --container-width: #{rem(1200)};
  --container-padding-x: #{rem(15)};

  --transition-duration: 0.5s;

  @include laptop {
    --container-width: #{rem(1280)};
  }
}